
.page{
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connected-users {
    text-align: center;
    padding: 20px;
}

.list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.button {
    flex-direction: column;
    display: flex;
    margin-top: 70px;
    background-color: #78A1BB;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 8px #898989;
    align-items: center;
    cursor: pointer;
}

.button-icon{
    display: flex;
    width: 100px;
    margin-bottom: 10px;
}