.menu-bar {
    position: fixed; /* Fixed position at the bottom */
    bottom: 0; /* Align to the bottom of the viewport */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    display: flex;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    background-color: #78A1BB;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 8px 0 rgb(82, 82, 82);
}

.menu-icons {
    display: flex;
    height: 100%;
    width: 66%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chat-icon {
    width: 30px;
}

.chat-icon-button {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 8px 0 rgb(82, 82, 82);
}

.settings-icon {
    width: 30px;
}

.settings-icon-button {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 8px 0 rgb(82, 82, 82);
}

.live-button-circle {
    display: block;
    padding: 20px;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgb(82, 82, 82);
}

.live-button {
    width: 30px;
    height: auto;
}